<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div id="feedback-form">
    <h2 class="header">Login form</h2>
    <div>
        <form action="/login" method="post">
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username" value="JohnDoe">
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" value="Welcome">
            <button type="submit">Login</button>
        </form>
    </div>
</div>
</body>
</html>